@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html,
body {
  height: 100vh;
}


body {
  font-family: Montserrat;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1%;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ccc;
  padding: 20px;
  background-image: url("../img/capa-madmax2.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 99;
}

header::after {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.menu-desktop ul {
  padding-left: 0;
  width: 350px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.menu-desktop li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.2s ease-in-out;
}

.menu-desktop li a:hover {
  color: yellow;
}

.menu .user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .user p {
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.menu .user-photo {
  margin-right: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.featured {
  z-index: 2;
}

.featured h2 {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 58px;
  text-transform: uppercase;
  line-height: 70px;
}

.featured p.genre {
  margin: 0;
}
.featured p.genre a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.featured p.genre a + a {
  margin-left: 15px;
  transition: all 0.2s ease-in-out;
}

.featured p.genre a:hover {
  color: #e4bb23;
}

.trailher-button {
  width: 100%;
  max-width: 200px;
  padding: 10px 0;
  background: #e4bb23;
  border-radius: 40px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  margin: 30px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.trailher-button:hover {
  filter: brightness(85%);
}

.trailher-button i {
  font-size: 26px;
  margin-left: 8px;
}

.featured p {
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.featured p.debut {
  color: #bc9a1d;
}


/*section catalog*/

.catalog-menu.container {
  max-width: 500px;
}

.catalog-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  list-style: none;
  padding-left: 0;
}

.catalog-menu ul li {
  display: inline-block;
}

.catalog-menu ul li a {
  padding: 25px 8px;
  color: #e4bb23;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.catalog-menu ul li a:hover {
  border-bottom: 1px solid #e4bb23;
}

section.catalog .container{
  margin-top: 50px;
}

.movies-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movies-single {
  width: 24%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.movies-single figure {
  margin: 0;
  position: relative;
  height: auto;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.movies-single figure .movies-poster-info {
  position: absolute;
  width: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.movies-single figure:hover .movies-poster-info {
  opacity: 1;
  visibility: visible;

}

.movies-poster-info h3 {
  font-size: 23px;
  color: white;
  text-transform: uppercase;
  color: #e4bb23;
  text-align: center;
}

.movies-poster-info a {
  font-size: 40px;
  color: white;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 78px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  padding-left: 4px;
  transition: all 0.2s ease-in-out;
}

.movies-poster-info a:hover {
  color: #e4bb23;
  border-color: #e4bb23;
}

.movies-list img {
  width: 100%;
}

.movies-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

}

.movies-info h3{
  font-size: 13px;
  margin: 0;
  text-transform: uppercase;
}

.movies-info .movie-genre{
  color: #e4bb23;
  text-decoration: none;
  font-size: 12px;
  margin: 10px 0;
}

.movies-info .movie-grade{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

.movies-info .movie-grade i{
  color: rgba(53, 53, 53, 0.404);
  cursor: pointer;
}

.movies-info .movie-grade i:hover{
  color: red;
}

/*style of footer*/

footer {
  padding: 20px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-wrapper .social-links {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-wrapper .social-links a {
  color: rgba(49, 49, 49, 0.315);
  font-size: 24px;
}

.fa-twitter,
.fa-facebook-official,
.fa-instagram {
  transition: all 0.2s ease-in-out;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-facebook-official:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #833ab4;
}
